@keyframes "slide" {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: 20px;
	}
}

.audioPlayer {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto 0 auto;
	display: flex;
	align-items: center;
	box-shadow: 1px 2px 10px -2px rgb(0 0 0 / 18%);
	box-sizing: border-box;
	padding: 15px;
	background: #fff;
	.thumbnail {
		max-width: 160px;
		padding: 0 30px 0 0;
		img {
			max-width: 100%;
			border-radius: 10px;
		}
	}
	.player {
		flex: auto;
	}
}
.contentContainer {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	box-shadow: 1px 2px 10px -2px rgb(0 0 0 / 18%);
	box-sizing: border-box;
	padding: 15px;
	background: #F0F8F9;
	ul {
		li {
			margin-bottom: 15px;
			a {
				color: #00C3E0;
				text-decoration: none;
			}
		}
	}
	.timestamps {
		ul {
			list-style: none;
			padding-left: 0;
			li {
				display: flex;
				flex-wrap: nowrap;
				padding-left: 0;
				padding-right: 20px;
				background-color: #fff;
				border: 2px solid transparent;
				border-radius: 10px;
				margin-bottom: 10px;
				min-height: 80px;
				align-items: center;
				cursor: pointer;
				span {
					min-width: 75px;
					text-align: center;
				}
				span.timestamp-control {
					background-color: #B7DADF;
					color: #fff;
					min-width: 45px;
					max-height:45px;
					line-height:20px;
					text-align: center;
					padding: 12px 0;
					border-radius: 50%;
					margin-right: 30px;
					.ctl-btn {
						font-size: 20px;
					}
				}
				span.timestamp-title {
					font-size: 16px;
					color: #000;
					text-align: left;
				}
			}
			li.active {
				span.timestamp-control {
					background-color: #00C3E0;
				}
				border-color: #80E1EF;
				span.timestamp-title {
					color: #00C3E0;
				}
			}
		}
	}
}
.audioTitle {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 0;
}
.player {
	p {
		font-size: 14px;
		color: #959595;
		margin-bottom: 15px;
		max-width: 700px;
	}
}
#play {
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}
#pause {
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}
#play.first-time {
	color: #00c3e0;
}
.progressContainer {
	display: flex;
	margin-bottom: 20px;
	.timer {
		font-size: 12px;
		text-align: right;
		padding-right: 10px;
		margin-top: -2px;
	}
	.timer.timerTotal {
		text-align: left;
		padding-left: 10px;
	}
}
.slider {
	flex: auto;
	display: flex;
	align-items: center;
}
.playbackSpeed {
	font-size: 15px;
	display: inline-block;
	border-radius: 50%;
	margin-top: -1px;
	font-weight: 600;
	width: 56px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background: #D9F6FA;
	border-radius: 100px;
	color: #0A7383;
	margin-left: 30px;
}
.playbackSpeed.reverse {
	margin-left: 0;
	margin-right: 30px;
}
.hp_slide {
	width: 100%;
	background: #D9D9D9;
	height: 8px;
	position: relative;
	max-width: 100%;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 9px;
	margin-right: 9px;
}
.hp_range {
	width: 0%;
	background: #00C3E0;
	height: 100%;
	position: relative;
	border-radius: 5px;
	&::after {
		content: '';
		position: absolute;
		right: -8px;
		top: -3px;
		width: 8px;
		height: 8px;
		border-radius: 100%;
		background: #00C3E0;
		border: 3px solid #00C3E0;
	}
}
.hp_buffering {
	height: 100%;
	position: absolute;
	border-radius: 5px;
	width: 100%;
	background-color: #00c3e0;
	background-image: repeating-linear-gradient( 45deg, transparent, transparent 5px, #eee 5px, #eee 10px );
	animation: slide 0.5s linear infinite;
	will-change: background-position;
}
.hp_range_buffer {
	background-color: #A5A5A5;
	position: absolute;
	height: 100%;
	border-radius: 5px;
}
.btn-bg-container {
	background-color: rgba(0, 195, 224, 0.1);
	width: 64px;
	height: 64px;
	display: inline-block;
	line-height: 64px;
	text-align: center;
	border-radius: 50%;
	font-size: 19px;
}
.controls {
	margin-top: -4px;
	text-align: left;
	padding-right: 30px;
}
.episodeDetails {
	color: #a5a3a3;
	font-size: 12px;
	margin-bottom: 8px;
}
.ctl-btn {
	cursor: pointer;
	font-size: 24px;
}
.timestampJumper {
	position: relative;
	overflow: hidden;
	.ts-progress {
		background-color: #CFEBEF;
		z-index: 0;
		position: absolute;
		top: 0;
		bottom: 0;
	}
    .ts-left-container{
        flex: auto;
        min-height: 80px;
        display: flex;
        align-items: center;
    }
	.timestamp-timer {
		z-index: 1;
        max-width: 50px;
	}
	.timestamp-title {
		z-index: 1;
        flex: auto;
	}
	.timestamp-control {
		z-index: 1;
        width: 45px;
	}
	.pause {
		display: none;
	}
}
.timestampJumper.active {
	// .pause {
	// 	display: initial;
	// }
	// .play {
	// 	display: none;
	// }
}
.is-mobile-visible {
	display: none;
}
@media screen and (max-width:767px) {
	body {
		min-height: 100vh;
	}
	.player {
		max-height: 45%;
	}
	.audioPlayer {
		flex-direction: column;
		height: 100vh;
		padding: 5%;
		.thumbnail {
			max-width: 100%;
			max-height: 40%;
			overflow: hidden;
			padding: 0;
			margin-bottom: 20px;
			border-radius: 10px;
		}
	}
	.audioTitle {
		font-size: 20px;
		text-align: center;
		margin-bottom: 50px;
	}
	.progressContainer {
		flex-direction: column-reverse;
		margin-bottom: 15px;
	}
	.slider {
		margin-bottom: 50px;
		display: flex;
		flex-direction: row;
	}
	.episodeDetails {
		text-align: center;
	}
	.controls {
		text-align: center;
		padding-right: 0;
	}
	.playbackSpeed {
		margin-left: 15px;
	}
	.playbackSpeed.reverse {
		margin-right: 15px;
	}
	.hp_buffering {
		background-image: repeating-linear-gradient( 111deg, transparent, transparent calc(100% * 0.05), #eee calc(100% * 0.05), #eee calc(100% * 0.09) );
	}
	.audio-footer {
		height: 7%;
		width: 100%;
		line-height: 7%;
		position: fixed; 
		bottom: 0;
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			height: 100%;
			display: flex;
			text-align: center;
			li {
				flex: 1;
				font-size: 14px;
				padding-top: 6%;
				background-color: #ECECEC;
				cursor: pointer;
				&:first-child {
					background-color: #F6F6F6;
				}
			}
		}
	}
	.is-mobile-hidden {
		display: none;
	}
	.is-mobile-visible {
		display: inherit;
	}
	.contentContainer {
		.timestamps {
			margin-top: 0;
			height: 75%;
			overflow-y: scroll;
			overflow-x: hidden;
			ul {
				li {
					span.timestamp-title {
						font-size: 14px;
						padding-left: 5px;
						padding-right: 5px;
					}
					padding-left: 0;
					padding-right: 0;
					span.timestamp-control {
						margin-right: 10px;
					}
					span {
						min-width: 50px;
					}
				}
			}
		}

        .summary{
            margin-top: 0;
            height: 75%;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color:#fff;
            // margin-top:5%;
            padding: 0 20px;
            line-height: 20px;
            p{
                font-size: 12px;
            }
        }
		height: 100vh;
		position: relative;
	}
	.timestamp-timer {
		font-size: 12px;
		flex: auto;
	}
	.top-buttons {
		height: 8%;
		overflow: hidden;
		ul {
			margin: 0; padding: 0;
			list-style: none;
			width: 100%;
			display: flex;

			li {
				flex: auto;
				margin-bottom: 0;
				text-align: center;
				line-height: 45px;
				font-size: 14px;
				background-color: #fff;

                &.active{
                    background-color:#00C3E0;
                    color:#fff;
                }
                &:first-child{
                    border-top-left-radius: 5px;;
                    border-bottom-left-radius: 5px;;
                }
                &:last-child{
                    border-top-right-radius: 5px;;
                    border-bottom-right-radius: 5px;;
                }
			}
		}
	}
	.portablePlayer-container {
		height: 15%;
		// margin-top: 2%;
		background-color: #00C3E0;
		border-radius: 10px;

        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 0;
        z-index: 1;
	}
	.portablePlayer {
		display: flex;
		height: 100%;
		margin: 0;
		padding: 0;
		align-items: center;
		.btn-bg-container {
			background-color: rgba(255, 255, 255, 0.4);
			color: #fff;
			width: 38px;
			height: 38px;
			line-height: 38px;
			margin-left: 15px;
			margin-right: 15px;
		}
		.mobile-content {
			flex: auto;
			font-size: 12px;
			color: #fff;
			max-width: 55%;
			padding-left: 15px;
            height: 100%;
            display: flex;
            align-items: center;
            
		}
		.controls {
			flex: auto;
			text-align: right;
			margin-right: 15px;
			.ctl-btn {
				font-size: 16px;
			}
		}

        #play.first-time {
            background-color: rgba(255, 255, 255, 0.4);
            color: #fff;
            width: 38px;
            height: 38px;
            line-height: 38px;
            margin-left: 15px;
            margin-right: 15px;
        }
	}
	
	#play {
		margin-left: 15px;
		margin-right: 15px;
	}
	#pause {
		margin-left: 15px;
		margin-right: 15px;
	}
    .portablePlayer{
        .ctl-btn {
            color: #fff;
        }
    }
}
@media screen and (max-width:350px) {
	.audioPlayer {
		.thumbnail {
			max-height: 35%;
		}
	}
	.player {
		max-height: 50%;
	}
	.audioTitle {
		font-size: 18px;
		margin-bottom: 25px;
	}
	.slider {
		margin-bottom: 25;
	}
	.portablePlayer {
		.mobile-content {
			max-width: 50%;
		}
	}
}
